[Desktop Entry]
Encoding=UTF-8
Name=Marble
Comment=Marble P2P Cryptocurrency
Comment[fr]=Marble, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Marble, eşten eşe kriptografik sanal para birimi
Exec=marble-qt %u
Terminal=false
Type=Application
Icon=marble128
MimeType=x-scheme-handler/marble;
Categories=Office;Finance;
