[Unit]
Description=Marble's distributed currency daemon
After=network.target

[Service]
User=marble
Group=marble

Type=forking
PIDFile=/var/lib/marbled/marbled.pid

ExecStart=/usr/bin/marbled -daemon -pid=/var/lib/marbled/marbled.pid \
          -conf=/etc/marble/marble.conf -datadir=/var/lib/marbled

ExecStop=-/usr/bin/marble-cli -conf=/etc/marble/marble.conf \
         -datadir=/var/lib/marbled stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
